__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.env
**/.env
venv/
env/
*.egg-info/
build/
*.build/
*.dist/
hl
hl.bin
hl.build/
hl.dist/
hl.onefile-build/
scripts/
pip-wheel-metadata/
dist/
